<!-- Used for both Landlords and Property manager contacts applications -->

<% content_for :css do %>
  <%= stylesheet_link_tag "application", :media => 'all' %>
<% end %>

<div ng-init="user = <%= current_user.to_json %>">
</div>

<ng-include src="'main/index/index.html'"></ng-include>

<% content_for :javascript do %>
  <%= javascript_include_tag "main_app" %>
<% end %>