<p>You should receive an email from us soon with a link to verify your account.</p>
<p>If you do not receive it within a few minutes, please make sure it is not in your spam folder.
</p>
<p>Or you may
  <a href="<%= ENV['EXTERNAL_URL'] %>/users/confirmation/new">click here to re-send it.</a>
</p>
