<div class="chats col-md-offset-1 col-md-10">
  <div class="row page-title">
    <div class="msg-match-date">
      <b>{{match.match_date | date:'fullDate'}} at {{match.match_date | date:'shortTime'}}</b>
    </div>
    <div class="msg-match-court">
      {{match.court.name}}
    </div>
    <div class="match-type">
      {{match.is_singles ? "Singles" : "Doubles"}}
    </div>
    <div data-ng-repeat="user in match.users" class="match-user" data-ng-click="ctrl.showUserModal(user)">
      <i>{{user.first_name + " " + user.last_name}}</i>
      <span class="user-skill"><i>({{(user.skill/2).toFixed(1)}})</i></span>
    </div>
  </div>
    <a href="#/my_matches" data-ng-click="ctrl.leaveMatch(match)" class="leave-btn">
        Leave match
    </a>

    <p></p>
    <div>
        <b>Group Chat:</b>
    </div>

  <div class="row">
    <div data-ng-repeat="message in messages | orderBy: created_at : true" class="message">
      <div class="message-sender" data-ng-click="ctrl.showUserModal(message.user)">
        {{message.user.first_name + ': '}}
      <span class="message-body">
        {{message.body}}
      </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-10">
      <form data-ng-submit="ctrl.sendMessage()">
        <input type="text" id="chatMsg" class="message-input" data-ng-model="message.body"
        placeholder="Enter Message Here">
      </form>
    </div>
    <div class="col-md-2 col-sm-2">
      <button type="button" class="message-send" data-ng-click="ctrl.sendMessage()">
        Send
      </button>
    </div>
  </div>
</div>
