.chats {
  .page-title {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }

  .match-date {
    font-weight: bold;
  }

  .user-name {
    font-style: italic;
  }

  .user-skill {
    font-style: italic;
  }

  .chat-header {
    font-weight: bold;
  }

  .group-chat-name {
    font-style: italic;
  }

  .match-container {
    padding-top: .7em;
  }
}
