<div class="chats col-md-offset-1 col-md-10">
  <div class="row page-title">
    <div class="msg-match-date">
      {{match.match_date | date:'fullDate'}} at {{match.match_date | date:'shortTime'}}
    </div>
    <div class="msg-match-court">
      {{match.court.name}}
    </div>
  </div>

  <div class="row">
    <div data-ng-repeat="message in messages | orderBy: created_at : true" class="message">
      <div class="message-sender" data-ng-click="ctrl.showUserModal(message.user)">
        {{message.user.first_name + ': '}}
      </div>
      <div class="message-body">
        {{message.body}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-sm-10">
      <form data-ng-submit="ctrl.sendMessage()">
        <input type="text" id="chatMsg" class="message-input" data-ng-model="message.body">
      </form>
    </div>
    <div class="col-md-2 col-sm-2">
      <button type="button" class="message-send" data-ng-click="ctrl.sendMessage()">
        Send
      </button>
    </div>
  </div>
</div>
