$message-radius: 12px;

.chats {
  .page-title {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }

  .match-date {
    font-weight: bold;
  }

  .chat-user-name {
    font-size: .9em;
    color: grey;
    padding-left: 2em;
    margin-bottom: 0;
  }

  .user-skill {
    font-style: italic;
  }

  .chat-header {
    font-weight: bold;
  }

  .match-container {
    padding-top: .7em;
  }

  .chat-container {
    background: white;
    border-bottom: 1em solid white;
  }

  .no-messages {
    padding-top: 1em;
  }

  .message-body {
    background-color: #e5e4e3;
    color: inherit;
    border-radius: $message-radius;
    padding: .5em 1em .5em 1em;
    margin-left: 1em;
    margin-right: 5em;
    display: inline-block;
  }

  .self-sender {
    display: flex;
    justify-content: flex-end;

    .message-body {
      background-color: $mp-green;
      color: white;
      margin: 1em 1em 0 5em;
    }
  }
}
