<div class="matches">
  <div class="row page-title">
    <h3>{{pageTitle}}</h3>
  </div>

  <div class="row">
    <div data-ng-repeat="match in matches" class="match-container">
      <div data-ng-class="ctrl.getMatchStatus(match) ? ctrl.getMatchStatus(match) : 'blank'">
        {{ctrl.getMatchStatus(match)}}
      </div>
      <div class="match-info">
        <div class="match-date">
          {{match.match_date | date:'fullDate'}} at {{match.match_date | date:'shortTime'}} {{ctrl.timezone(match)}}
        </div>
        <div class="match-court">
          <span>{{match.court.name}}</span><span>{{match.is_singles ? "Singles" : "Doubles"}}</span>
        </div>
        <div class="match-users">
          <div data-ng-repeat="user in match.users" class="match-user" data-ng-click="ctrl.showUserModal(user)">
            <span class="user-name">{{user.first_name + " " + user.last_name}}</span>
            <span class="user-skill">({{(user.skill/2).toFixed(1)}})</span>
          </div>
          <div data-ng-repeat="i in ctrl.getNumEmptySlots(match) track by $index" class="match-user">
            <span class="user-none">--</span>
          </div>
        </div>
        <div class="match-links" data-ng-if="matchType != 'past_matches'">
          <a data-ng-if="matchType == 'my_matches'" href="#/my_matches" data-ng-click="ctrl.leaveMatch(match)">
            <span class="glyphicon glyphicon-log-out"></span>
            Leave match
          </a>
          <a data-ng-if="matchType == 'requests'" href="#/match_requests" data-ng-click="ctrl.joinMatch(match)">
            <span class="glyphicon glyphicon-check"></span>
            Join
          </a>
          <a data-ng-if="matchType == 'my_matches'" href="#/chats/{{match.chat.id}}/{{match.id}}">
            <span class="glyphicon glyphicon-comment"></span>
            Messages
          </a>
        </div>
      </div>
    </div>

    <div data-ng-if="matches.length == 0 && matchType == 'requests'" class="no-matches">
      You have no match requests at this time. Try <a href="#/friends">adding friends</a> or <a href="#/courts">joining more courts</a>.
    </div>
    <div data-ng-if="matches.length == 0 && matchType == 'my_matches'" class="no-matches">
      You haven’t joined or created any matches. Try <a href="#/match_requests">viewing match requests</a>.
    </div>
  </div>

  <div data-ng-if="matchType == 'requests'" class="row">
    <div class="center-btn">
      <a href="#/new_match" class="btn-sm-mpgreen">
        Create Match Request
      </a>
    </div>
  </div>
</div>
