<div class="matches col-md-offset-1 col-md-10">
  <div class="row page-title">
    <h3>{{pageTitle}}</h3>
  </div>

  <div class="row">
    <div data-ng-repeat="match in matches" class="match">
      <div class="match-date">
        <b>{{match.match_date | date:'fullDate'}} at {{match.match_date | date:'shortTime'}}</b>
      </div>
      <div class="match-court">
        {{match.court.name}}
      </div>
      <div class="match-type">
        {{match.is_singles ? "Singles" : "Doubles"}}
      </div>
      <div data-ng-repeat="user in match.users" class="match-user" data-ng-click="ctrl.showUserModal(user)">
        <i>{{user.first_name + " " + user.last_name}}</i>
        <span class="user-skill"><i>({{(user.skill/2).toFixed(1)}})</i></span>
      </div>
      <div data-ng-if="matchType == 'my_matches'">
        <a href="#/my_matches" data-ng-click="ctrl.leaveMatch(match)" class="leave-btn">
          Leave match
        </a>
      </div>
      <div data-ng-if="matchType == 'requests'">
        <a href="#/match_requests" data-ng-click="ctrl.joinMatch(match)" class="join-btn">
          Join
        </a>
      </div>
      <div data-ng-if="matchType == 'my_matches'">
        <a href="#/chats/{{match.chat.id}}/{{match.id}}" class="messages-btn">
          Messages
        </a>
      </div>
        <p></p>
    </div>
  </div>
  <div data-ng-if="matchType == 'requests'">
    <a href="#/new_match" class="create-btn">
      Create Match Request
    </a>
  </div>
</div>
