.matches {
  .completed, .expired, .pending, .full, .blank {
    background: 1em solid $mp-green;
    text-transform: capitalize;
    color: white;
    padding-left: .5em;
    margin-bottom: .4em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .completed {
    background: $blue400;
  }

  .expired {
    background: $red700;
  }

  .pending {
    background: $yellow700;
  }

  .full, .blank {
    background: $mp-green;
  }

  .user-skill {
    font-style: italic;
  }

  .user-none {
    color: $red700;
  }

  .no-matches {
    text-align: center;
    margin-bottom: 1em;
  }
}

.match-container {
  background: white;
  border-radius: 3px;
  margin-top: 1em;

  .match-info {
    padding: 0 1em 1em 1em;

    .match-users {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      border: 1px solid $mp-green;
      padding: .3em 0;
      margin-top: .4em;
    }

    .match-user {
      width: 50%;
      text-align: center;
      &:hover {
        color: $mp-green-hl;
      }
    }

    .winning-user {
      font-weight: bold;
      color: $mp-green;
    }

    .match-date {
      font-weight: bold;
    }

    .match-court {
      display: flex;
      justify-content: space-between;
    }

    .match-links {
      padding-top: .5em;
      display: flex;
      justify-content: space-between;
    }
  }
}

.new-match {
  .page-title h3 {
    margin-top: -1em;
  }
}

.match-score {
  .winner-header {
    padding-bottom: .2em;
  }

  .score-header {
    text-align: center;
  }

  .winner-checkbox {
    width: 48%;
    display: inline-block;
    text-align: center;
    label {
      font-weight: normal;
    }
  }

  .player-header {
    text-align: center;
  }

  .set-note {
    font-weight: normal;
    font-size: .75em;
  }

  .set-label {
    font-weight: bold;
    margin-bottom: 0;
  }

  .match-set, .winner-row {
    padding-bottom: 0;
  }

  .set-col {
    padding: .5em;
  }
}

.spinner {
  position:fixed;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  height: 28px;
  width: 28px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #0F9347;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.refresh-center {
  position:fixed;
  padding-top: 1em;
  left: 50%;
  margin-left: -7px;
}