<div class="new-match new-match col-md-offset-1 col-md-10">
  <div class="page-title">
    <h3>Report Score</h3>
  </div>

  <div class="winner-row">
    <div class="winner header">
      <label>Select winner</label>
    </div>

    <div class="winner-checkbox">
      <input type="checkbox" value="score.winner_0" id="winnerCheckbox1" data-ng-click="ctrl.setWinner(match.users[0])" data-ng-model="match.users[0]">
      <label for="winnerCheckbox1">{{users[0].first_name + users[0].last_name}}</label>
    </div>

    <div class="winner-checkbox">
      <input type="checkbox" value="score.winner_0" id="winnerCheckbox2" data-ng-click="ctrl.setWinner(users[1])">
      <label for="winnerCheckbox2">{{users[1].first_name + users[1].last_name}}</label>
    </div>
  </div>

  <div class="set-row">
    <div class="player-label">
      Player
    </div>

    <div class="player">
      {{winningPlayer}}
    </div>

    <div class="player">
      {{losingPlayer}}
    </div>
  </div>

  <div class="set-row">
    <div class="form-group">
      <label>Set 1</label>
    </div>

    <div class="form-group">
      <select id="winnerSet1" data-ng-model="score.winner.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>

    <div class="form-group">
      <select id="loser_set_1" data-ng-model="score.loser.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>
  </div>

  <div class="set-row">
    <div class="form-group">
      <label>Set 2 (if applicable)</label>
    </div>

    <div class="form-group">
      <select id="winnerSet2" data-ng-model="score.winner.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>

    <div class="form-group">
      <select id="loser_set_2" data-ng-model="score.loser.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>
  </div>

  <div class="set-row">
    <div class="form-group">
      <label>Set 3 (if applicable)</label>
    </div>

    <div class="form-group">
      <select id="winnerSet3" data-ng-model="score.winner.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>

    <div class="form-group">
      <select id="loser_set_3" data-ng-model="score.loser.set_1_total" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
      </select>
    </div>
  </div>

  <div class="center-btn">
    <button class="btn-sm-mpgreen" data-ng-click="ctrl.submitScore()">Submit</button>
  </div>
</div>
