<div class="new-match new-match col-md-offset-1 col-md-10">
  <div class="page-title">
    <h3>Create Match Request</h3>
  </div>

  <div class="form-group">
    <label for="matchDate">Date</label>
    <input type="date" class="form-control" id="matchDate" name="matchDate"
           data-ng-model="match.match_date" placeholder="Date">
  </div>

  <div class="form-group">
    <select id="time" data-ng-model="match.match_time" class="form-control">
      <option value="">- Time -</option>
      <option value="0">12:00 AM</option>
      <option value="1">12:30 AM</option>
      <option value="2">1:00 AM</option>
      <option value="3">1:30 AM</option>
      <option value="4">2:00 AM</option>
      <option value="5">2:30 AM</option>
      <option value="6">3:00 AM</option>
      <option value="7">3:30 AM</option>
      <option value="8">4:00 AM</option>
      <option value="9">4:30 AM</option>
      <option value="10">5:00 AM</option>
      <option value="11">5:30 AM</option>
      <option value="12">6:00 AM</option>
      <option value="13">6:30 AM</option>
      <option value="14">7:00 AM</option>
      <option value="15">7:30 AM</option>
      <option value="16">8:00 AM</option>
      <option value="17">8:30 AM</option>
      <option value="18">9:00 AM</option>
      <option value="19">9:30 AM</option>
      <option value="20">10:00 AM</option>
      <option value="21">10:30 AM</option>
      <option value="22">11:00 AM</option>
      <option value="23">11:30 AM</option>
      <option value="24">12:00 PM</option>
      <option value="25">12:30 PM</option>
      <option value="26">1:00 PM</option>
      <option value="27">1:30 PM</option>
      <option value="28">2:00 PM</option>
      <option value="29">2:30 PM</option>
      <option value="30">3:00 PM</option>
      <option value="31">3:30 PM</option>
      <option value="32">4:00 PM</option>
      <option value="33">4:30 PM</option>
      <option value="34">5:00 PM</option>
      <option value="35">5:30 PM</option>
      <option value="36">6:00 PM</option>
      <option value="37">6:30 PM</option>
      <option value="38">7:00 PM</option>
      <option value="39">7:30 PM</option>
      <option value="40">8:00 PM</option>
      <option value="41">8:30 PM</option>
      <option value="42">9:00 PM</option>
      <option value="43">9:30 PM</option>
      <option value="44">10:00 PM</option>
      <option value="45">10:30 PM</option>
      <option value="46">11:00 PM</option>
      <option value="47">11:30 PM</option>
    </select>
  </div>

  <div class="form-group">
    <select id="location" class="form-control" data-ng-model="match.court_id"
            data-ng-options="court.id as court.name for court in courts">
      <option value="">- Location -</option>
    </select>
  </div>

  <div class="form-group">
    <select id="gameType" class="form-control" data-ng-model="match.is_singles">
      <option value="">- Game Type -</option>
      <option value="true">Singles</option>
      <option value="false">Doubles</option>
    </select>
  </div>

  <div class="center-btn">
    <button class="btn-sm-mpgreen" data-ng-click="ctrl.createMatch()">Submit</button>
  </div>
</div>
