<div class="full-height">

  <div class="nav fixed">
    <div class="container-fluid">

      <div class="menu col-md-8 col-sm-8 col-xs-10">
        <ul>
          <li ng-class="{active: $route.current.activetab == 'properties'}"
              class="lg-nav top-nav-block">
            <a class="top-nav-link" href='#/dashboard'>
              Dashboard
            </a>
          </li>
          <li ng-class="{active: $route.current.activetab == 'property_managers'}"
              class="top-nav-block">
            <a class="top-nav-link" href='#/payment_history'>
              Payment History
            </a>
          </li>
          <li ng-class="{active: $route.current.activetab == 'bank_accounts'}"
              class="top-nav-block">
            <a class="top-nav-link" href='#/payment_options'>
              Payment Options
            </a>
          </li>
        </ul>
      </div>

      <div class="user col-md-4 col-sm-4 dropdown">
        <a class="dropdown-toggle" id="userDropdown">
          Welcome, {{user.first_name}}<br />
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
          <li>
            <a href="#/user">Profile</a>
          </li>
          <li>
            <a href="/users/sign_out" data-method="delete">Sign Out</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div ng-view class="main" id="body">
  </div>

</div>
