<div class="modal-header">
  <h3 class="modal-title">Add a friend</h3>
</div>
<div class="modal-body">
  <div class="find-prompt">
    We'll try to find your friend based on either their email address or their Match Point friend code.
  </div>
  <div class="friend-finder">
    <input type="text" class="form-control" id="friendFinder" name="friendFinder"
           data-ng-model="data.friendFinder" placeholder="Enter your friend's email or friend code">
  </div>
</div>
<div class="modal-footer">
  <button class="btn-mp-green" data-ng-click="ctrl.addFriend()">Submit</button>
  <button class="btn-grey" data-ng-click="ctrl.cancel()">Close</button>
</div>
