<div class="friends">
  <div class="row page-title">
    <h3>Friends</h3>
  </div>

  <div class="no-friends">
    To add a friend click on a name in a match or invite your friends to join Match Point.
  </div>

  <div class="center-btn">
    <a href="javascript:;" data-ng-click="ctrl.showInviteFriendDialog()" class="btn-sm-mpgreen">
      Invite Friends
    </a>
  </div>

  <div data-ng-repeat="friend in friends" class="friend-container">
    <div class="friend-info">
      <span class="friend-name">{{friend.first_name + ' ' + friend.last_name}}</span>
      <span>Skill level {{(friend.skill / 2).toFixed(1)}}</span>
    </div>
    <div class="friend-links">
      <a href="javascript:;" class="friend-remove" data-ng-click="ctrl.removeFriend(friend, false)">
        <span class="glyphicon glyphicon-remove"></span>
        Remove Friend
      </a>
    </div>
  </div>

  <div data-ng-if="friendRequests.length > 0">
    <h4>Requests waiting for your approval</h4>

    <div data-ng-repeat="friend in friendRequests" class="friend-container">
      <div class="friend-info">
        <span class="friend-name">{{friend.first_name + ' ' + friend.last_name}}</span>
        <span>{{(friend.skill / 2).toFixed(1)}}</span>
      </div>
      <div class="friend-links">
        <a href="javascript:;" data-ng-click="ctrl.acceptRequest(friend)">
          <span class="glyphicon glyphicon-plus"></span>
          Accept
        </a>
        <a href="javascript:;" data-ng-click="ctrl.removeFriend(friend, true)">
          <span class="glyphicon glyphicon-minus"></span>
          Decline
        </a>
      </div>
    </div>
  </div>

</div>
