<div class="friends col-md-offset-1 col-md-10">
  <div class="row page-title">
    <h3>FRIENDS</h3>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn-sm-mpgreen" data-ng-click="ctrl.showAddFriendDialog()">
      Add friend
    </button>
  </div>

  <div data-ng-repeat="friend in friends" class="friend">
    <div class="friend-name">
      {{friend.first_name + ' ' + friend.last_name}}
    </div>
    <div class="friend-skill">
      {{(friend.skill / 2).toFixed(1)}}
    </div>
    <div class="friend-remove" data-ng-click="ctrl.removeFriend(friend, false)">
      Remove Friend
    </div>
  </div>

  <div data-ng-if="friendRequests.length > 0">
    <h4>Requests waiting for your approval</h4>

    <div data-ng-repeat="friend in friendRequests" class="friendRequest">
      <div class="request-name">
        {{friend.first_name + ' ' + friend.last_name}}
      </div>
      <div class="request-skill">
        {{(friend.skill / 2).toFixed(1)}}
      </div>
      <div class="request-accept" data-ng-click="ctrl.acceptRequest(friend)">
        Accept
      </div>
      <div class="request-remove" data-ng-click="ctrl.removeFriend(friend, true)">
        Decline
      </div>
    </div>
  </div>
</div>
