<div class="users">
  <div class="row page-title">
    <h3>Friends</h3>
  </div>

  <div class="no-users">
    To add a friend click on a name in a match or invite your friends to join Match Point.
  </div>

  <div class="center-btn">
    <a href="javascript:;" data-ng-click="ctrl.showInviteFriendDialog()" class="btn-sm-mpgreen">
      Invite Friends
    </a>
  </div>

  <div data-ng-repeat="user in friends" data-ng-click="ctrl.showUserModal(user)" class="user-container">
    <div class="user-info">
      <span class="user-name">{{user.first_name + ' ' + user.last_name}}</span>
      <span>Skill level {{(user.skill / 2).toFixed(1)}}</span>
    </div>
    <div class="user-links">
      <a href="javascript:;" class="user-remove" data-ng-click="ctrl.removeFriend(user, false)">
        <span class="glyphicon glyphicon-remove"></span>
        Unfriend
      </a>
    </div>
  </div>

  <div data-ng-if="friendRequests.length > 0">
    <h4>Requests waiting for your approval</h4>

    <div data-ng-repeat="user in friendRequests" class="user-container">
      <div class="user-info">
        <span class="user-name">{{user.first_name + ' ' + user.last_name}}</span>
        <span>{{(user.skill / 2).toFixed(1)}}</span>
      </div>
      <div class="user-links">
        <a href="javascript:;" data-ng-click="ctrl.acceptRequest(user)">
          <span class="glyphicon glyphicon-plus"></span>
          Accept
        </a>
        <a href="javascript:;" data-ng-click="ctrl.removeFriend(user, true)">
          <span class="glyphicon glyphicon-minus"></span>
          Decline
        </a>
      </div>
    </div>
  </div>

</div>
