.player-profile {
  display: flex;
  justify-content: space-between;
}

.user-container {
  padding: 1em;
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;

  .user-info {
    display: flex;
    justify-content: space-between;
  }

  .user-name {
    font-weight: bold;
  }

  .user-links {
    padding-top: .5em;
    display: flex;
    justify-content: space-between;
  }
}

.user-email {
  margin-top: 1em;
}

.users {
  .no-users {
    text-align: center;
    margin-bottom: 1em;
  }
}

.invite-options {
  a {
    margin-bottom: 1em;
  }

  .invite-or {
    text-align: center;
    text-transform: uppercase;
  }

  .alternate-invite {
    text-align: center;
    margin-top: 1em;
    font-weight: bold;
  }
}

.invite-statement {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
