<div class="modal-header">
  <h3 class="modal-title">Player Profile</h3>
</div>
<div class="modal-body">
  <div class="player-name">
    {{otherUser.first_name + " " + otherUser.last_name}}
  </div>
  <div class="player-skill">
    Skill level: {{(otherUser.skill/2).toFixed(1)}}
  </div>
  <div data-ng-if="otherUser.id != user.id">
    <div data-ng-if="otherUser.friend_status == 'friend'" class="friend-status">
      You and {{otherUser.first_name}} are friends.
    </div>
    <div data-ng-if="otherUser.friend_status == 'request_sent'" class="friend-status">
      Friend request sent!
    </div>
    <button data-ng-if="otherUser.friend_status == 'no_friendship'" type="button" class="add-friend-btn" data-ng-click="ctrl.addFriend()">
      Add friend
    </button>
    <div data-ng-if="otherUser.friend_status == 'request_received'">
      <div>
        {{otherUser.first_name}} wants to be your friend.
      </div>
      <button type="button" class="add-friend-btn" data-ng-click="ctrl.acceptFriend()">
        Add friend
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn-grey" data-ng-click="ctrl.cancel()">Close</button>
</div>
