<!DOCTYPE html>
<html>
<head></head>
<body>
<p>Hi, <%= @user_name %></p>

<p>If you know <%= @friend_first_name %> and want to schedule matches with them on MatchPoint, <a href="<%= ENV['EXTERNAL_URL'] %>/#/friends">click here to accept this friend request.</a></p>
</body>
</html>
