.home-nav {
  ul {
    list-style: none;
  }

  .welcome-header {
    margin-top: 1.5em;
    text-align: center;
  }

  .top-nav-block {
    background: $mp-green;
    border: 3px solid $green300;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0 1em 0;
    border-radius: 3px;

    &:hover {
      background: $mp-green-hl;
      border: 3px solid $green900;
    }
  }

  .top-nav-link {
    display: block;
    color: #fff;
    font-size: 17px;
    width: 100%;
    padding: .4em 0 .4em 0;

    &:hover,
    &:visited {
      text-decoration: none;
    }
  }

  .remove-spacing {
    padding: 0;
    margin: 0;
  }
}

.main-links {
  position: absolute;
  top: 7px;
  right: -10px;
  z-index: 1;

  a {
    margin-left: .8em;
    &:visited, &:active {
      text-decoration: none;
    }
  }
}

.main-links-left {
  position: absolute;
  top: 7px;
  left: -10px;
  z-index: 1;
}