<div class="full-height">
  <div class="main-links">
    <a href="/#/" onclick="mixPanelEvts.navigateHome()">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a href="/#/settings">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </div>

  <div data-ng-view class="main" id="body">
  </div>
</div>
