<div class="full-height">

  <div class="nav fixed">
    <div class="container-fluid">

      <div class="menu col-md-8 col-sm-8 col-xs-10">
        <ul>
          <li class="lg-nav top-nav-block">
            <a class="top-nav-link" href='#/match_requests'>
              MATCH REQUESTS
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/my_matches'>
              MY MATCHES
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/friends'>
              FRIENDS
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/past_matches'>
              PAST MATCHES
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='mailto:sri@matchpoint.us'>
              SEND FEEDBACK
            </a>
          </li>
          <li class="top-nav-block">
            <a href="/users/sign_out" data-method="delete">Sign Out</a>
          </li>
        </ul>
      </div>

      INDEX PAGE
    </div>
  </div>

  <div ng-view class="main" id="body">
  </div>

</div>
