<div class="full-height">

  <div class="nav fixed">
    <div class="container-fluid">

      <div class="menu col-md-8 col-sm-8 col-xs-10">
        <div class="welcome-header">
          Welcome, {{user.first_name}}<br />
          Friend Code: {{user.invite_code}}
        </div>
        <ul data-ng-if="user.has_joined_courts">
          <li class="lg-nav top-nav-block">
            <a class="top-nav-link" href='#/match_requests'>
              MATCH REQUESTS
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/my_matches'>
              MY MATCHES
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/friends'>
              FRIENDS
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/courts'>
              COURTS
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='#/past_matches'>
              PAST MATCHES
            </a>
          </li>
          <li class="top-nav-block">
            <a class="top-nav-link" href='mailto:sri@matchpoint.us' onclick="mixPanelEvts.navigateSendFeedback()">
              SEND FEEDBACK
            </a>
          </li>
          <li class="top-nav-block">
            <a href="/users/sign_out" data-method="delete">Sign Out</a>
          </li>
        </ul>

        <h4 data-ng-if="!user.has_joined_courts" class="join-court">
          Please join a court to get started with Match Point. You will see match requests based on the court(s) that you have joined.
        </h4>
      </div>
    </div>
  </div>

  <div data-ng-view class="main" id="body">
  </div>

</div>
