<table style="width:80%">
  <tr>
    <th align="left">Date</th>
    <th align="left">Location</th>
    <th align="left">Type</th>
    <th align="left">Players</th>
  </tr>
  <% matches.each do |match| %>
    <tr>
      <td style="width: 30%"><%= match.match_date.strftime('%a, %b %-d at %-l:%M %p') %></td>
      <td style="width: 20%"><%= match.court.name %></td>
      <td style="width: 15%"><%= match.is_singles ? 'Singles' : 'Doubles' %></td>
      <td style="width: 35%"><%= match.get_player_list %></td>
    </tr>
  <% end %>
</table>
