<% if @my_matches.first.present? %>
  <h4>
    My matches
  </h4>
  <%= render partial: 'match_table', locals: {matches: @my_matches} %>
<% end %>

<% if @friend_matches.first.present? %>
  <h4>
    Available matches with my friends
  </h4>
  <%= render partial: 'match_table', locals: {matches: @friend_matches} %>
<% end %>

<% if @court_matches.first.present? %>
  <h4>
    Available matches at my courts
  </h4>
  <%= render partial: 'match_table', locals: {matches: @court_matches} %>
<% end %>

<br>

<a href="<%= ENV['EXTERNAL_URL'] %>">Launch MatchPoint</a>
