@mixin single-btn-page {
  .single-btn-page {
    margin-top: 15%;
    text-align: center;

    .single-btn-text {
      font-size: 20px;
    }

    .single-btn {
      margin-top: 25px;
    }
  }
}

*[data-ng-click], *[ng-click] {
  cursor: pointer;
}

.upload-input {
  display: none;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;

  h3 {
    position: absolute;
    top: 0;
    font-size: 1.5em;
    text-align: center;
  }
}
