<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button class="btn-hp-green" ng-click="callback()">{{buttonText}}</button>
    <button ng-if="!isInformational" class="btn-grey" ng-click="cancel()">Cancel</button>
</div>
