<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button class="btn-mp-green" ng-click="callback()">{{buttonText}}</button>
    <button data-ng-if="!isInformational" class="btn-grey" data-ng-click="cancel()">Cancel</button>
</div>
