.courts {
  .join-court {
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
  }
  .note {
    text-align: center;
    margin-bottom: 1em;
  }
}

.court-info {
  padding: 1em;
  background: white;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  .court-name {
    font-weight: bold;
    display: block;
  }
}

.green-bg {
  background: $light-green50;
}

.new-court {
  .page-title h3 {
    margin-top: -.7em;
  }
}
