<div class="modal-header">
  <h3 class="modal-title">Join a new court</h3>
</div>
<div class="modal-body">
  <div data-ng-repeat="court in courts" class="court-info green-bg">
    <div class="court-name">
      {{court.name}}
    </div>
    <div class="court-address">
      {{court.postal_address.street}}<br />
      {{court.postal_address.city + ', ' + court.postal_address.state + ' ' + court.postal_address.zip}}
    </div>
    <div class="court-links">
      <a href="javascript:;" data-ng-click="ctrl.joinCourt(court)">
        <span class="glyphicon glyphicon-check"></span>
        Join
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn-grey" data-ng-click="ctrl.cancel()">Close</button>
</div>
