<div class="change-password">
    <div class="form-group">
      <label for="current_password">Current Password</label>
      <input type="password" class="form-control" id="current_password"
             name="user[current_password]" data-ng-model="user.current_password" mp-validation>
    </div>

    <div class="form-group">
      <label for="password">New password</label>
      <input type="password" class="form-control" id="password" name="user[password]"
             data-ng-model="user.password" mp-validation>
    </div>

    <div class="form-group">
      <label for="password_confirmation">Confirm new password</label>
      <input type="password" class="form-control" id="password_confirmation"
             name="user[password_confirmation]" data-ng-model="user.password_confirmation"
             mp-validation>
    </div>

    <div class="center-btn">
      <button type="button" class="btn-sm-mpgreen" data-ng-click="ctrl.save()">
        Save new password
      </button>
    </div>
</div>